@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/* 공통 */
html,
body {
  position: relative;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper__inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper__inner section.container img {
  position: absolute;
  top: 10%;
  width: 90%;
  height: 90%;

}

.swiper-button-next {
  position: absolute;
  right: 11%;
  color: rgba(203, 206, 33, .6);
}

.swiper-button-prev {
  position: absolute;
  color: rgba(203, 206, 33, .6);
}

.swiper-pagination {
  position: absolute;
}

.header-inner {
  display: flex;
}

.side-bar {
  position: absolute;
  width: 10%;
  height: 90%;
  right: 0;
  bottom: 0;
  background-color: bisque;
}

.header-logo {
  position: absolute;
  right: 0;
  width: 10%;
  height: 10%;
  background-color: aqua;
}

/* HEADER */
.header {
  position: fixed;
  width: 90%;
  height: 10%;
  top: 0;
  left: 0;
  background-color: #0f036ec2;
  display: flex;
  z-index: 2;
  font-family: 'Nanum Pen Script', cursive;
  color: #fff;
}

.header .title {
  width: 100px;
  height: 10%;
  position: absolute;
  display: flex;
  left: 30px;
  font-size: 50px;
  text-align: center;
}

/* HEADER__MAIN-MENU*/
.header ul.header-main-menu {
  font-size: 30px;
  position: absolute;
  top: 40px;
  display: flex;
  width: 1000px;
  height: 60px;
  left: 200px;
}

.header ul.header-main-menu li h2 {
  display: block;
  width: 85px;
  text-align: center;
  cursor: pointer;
}

.header ul.header-main-menu li ul.header-main-menu-text {
  display: none
}

.header ul.header-main-menu li:hover ul.header-main-menu-text {
  position: absolute;
  display: flex;
  align-items: center;
  left: -195px;
  top: 60px;
  width: 112%;
  height: 60px;
  background-color: #000;
}

.header ul.header-main-menu li:hover ul.header-main-menu-text li {
  margin-left: 20px;
  cursor: pointer;
}

.header ul.header-main-menu li:hover ul.header-main-menu-text li:first-child {
  margin-left: 0;
}

.header ul.header-main-menu header-main-menu-text li {}

/* HEADER__SUB-MENU */

.header .sub-menu-container {}

.header .sub-menu-container ul.sub-menu {
  position: absolute;
  display: flex;
  top: 10px;
  right: 20px;
  font-size: 20px;
}

.header .sub-menu-container ul.sub-menu li {
  margin-left: 10px;
}

.header .sub-menu-container ul.sub-menu li a {
  color: #fff;
}

.header .sub-menu-container ul.sub-menu li a:hover {
  cursor: pointer;
}
.header .sub-menu-container ul.sub-menu li::before {
  content: " | ";
  color: #000;
}

.header .sub-menu-container ul.sub-menu li:first-child::before  {
  content: none;
}

/* 한국 */
.korea {}


.korea__header {}


.korea__header-inner {}





section.container {
  display: flex;
}


/* 일본 */
.japan {}



/* 미국 */
.usa {}

/* 캐나다 */
.canada {}

/* 프랑스 */
.france {}